<div class="gridster">
    <ul>
        {{!-- Container for the changing of page right. --}}
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="3" data-change="left"><i class="fa fa-arrow-left fa-2x"></i></li>
        {{!-- col 2 --}}
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" data-drag='true'></li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" data-drag='true'></li>
        {{!-- col 3 --}}
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" data-drag='true'></li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" data-drag='true'></li>
        {{!-- col 4 --}}
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" data-drag='true'></li>
        <li data-row="2" data-col="4" data-sizex="1" data-sizey="1" data-drag='true'></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1" data-drag='true'></li>
        {{!-- col 5 --}}
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" data-drag='true'></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1" data-drag='true'></li>
        {{!-- Container for the changing of page right. --}}
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="3" data-change="right">
            <i class="fa fa-arrow-right fa-2x"></i>
        </li>
    </ul>
</div>